@tailwind base;
@tailwind components;
@tailwind utilities;

#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

/*
.center-circle {
    position: absolute;

    border-radius: 50px;

    top: 25%;
    left: 25%;
}
 */
#center-circle.dragover {
    border-style: dashed;
}
